<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--使用 Hibernate 自带的连接池配置-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">xth</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect.storage_engine">innodb</property>
<!--        &lt;!&ndash;hibernate 方言&ndash;&gt;-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>-->


        <!--配置线程上下文对象-->
        <property name="current_session_context_class">thread</property>
        <!--打印sql语句-->
        <property name="hibernate.show_sql">true</property>
        <!--格式化sql-->
        <property name="hibernate.format_sql">true</property>
        <!--根据实体类生成数据库表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- 加载映射文件 -->
        <mapping resource="mapper/TechInfo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>