<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pointcutexample" />

    <aop:config>
        <aop:aspect ref="lbeforeAdvice">
            <aop:pointcut id="userDaoPointcut" expression="execution(* pointcutexample.UserDao.*(..))"/>
            <aop:before pointcut-ref="userDaoPointcut" method="beforeMethod"/>
        </aop:aspect>
    </aop:config>

    <bean id="userDao" class="pointcutexample.UserDaoImpl"/>

    <bean id="lbeforeAdvice" class="pointcutexample.LbeforeAdvice"/>

</beans>
